<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032801084591-dlkf577ukqni8oion998caig8rqvg56h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032801084591-dlkf577ukqni8oion998caig8rqvg56h</string>
	<key>API_KEY</key>
	<string>AIzaSyANcjyAspAYAQwXgc6VbYFS2vDCy6NkvZA</string>
	<key>GCM_SENDER_ID</key>
	<string>1032801084591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ThomasGray.Wild-Route</string>
	<key>PROJECT_ID</key>
	<string>wild-route</string>
	<key>STORAGE_BUCKET</key>
	<string>wild-route.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032801084591:ios:6b79087d6e9414413ca05a</string>
</dict>
</plist>